<div class="swiper-slide">
    <img src="/images/home3.jpg" alt="" />
    <div class="col-lg-2 col-sm-6 col-xs-12">
        <router-link to="/localPlay/items/足球赛事" class="box_cat_home" active-class="box_cat_home_active">
            <img src="/images/cicon1.png" alt="" />
            <h3>足球赛事</h3>
            <ul>
                <li><strong>2548</strong>Listings</li>
            </ul>
        </router-link>
    </div>
    <div class="col-lg-2 col-sm-6 col-xs-12">
        <router-link to="/localPlay/items/景点门票" class="box_cat_home" active-class="box_cat_home_active">
            <img src="/images/cicon2.png" alt="" />
            <h3>TAPS之旅</h3>
            <ul>
                <li><strong>2548</strong>Listings</li>
            </ul>
        </router-link>
    </div>
    <div class="col-lg-2 col-sm-6 col-xs-12">
        <router-link to="/localPlay/items/户外体验" class="box_cat_home" active-class="box_cat_home_active">
            <img src="/images/cicon3.png" alt="" />
            <h3>游艇PARTY</h3>
            <ul>
                <li><strong>2548</strong>Listings</li>
            </ul>
        </router-link>
    </div>
    <div class="col-lg-2 col-sm-6 col-xs-12">
        <router-link to="/localPlay/items/4" class="box_cat_home" active-class="box_cat_home_active">
            <img src="/images/cicon4.png" alt="" />
            <h3>网红旅拍</h3>
            <ul>
                <li><strong>2548</strong>Listings</li>
            </ul>
        </router-link>
    </div>
</div>
<div class="swiper-slide">
    <img src="/images/home1.jpg" alt="" />
</div>
<div class="swiper-slide">
    <img src="/images/home2.jpg" alt="" />
</div>